<IfModule mod_rewrite.c>
RewriteEngine On
Options FollowSymLinks
RewriteRule ^apps/(.+)-(.+)$ apps/controllers/app.php?app=$1-$2
#RewriteRule ^apps/(\w+)-(\w+)$ apps/controllers/app.php?app=$1-$2
</IfModule>